# Node.js dependency directory
node_modules
node_modules/

# Source files
src

# Various configuration files
*.json
*.config.js

# Compiled output
!dist

.babelrc
.env*
.github/

# tests
__tests__/
test/
tests/